In [ ]:
"""
The two most useful dataframes are df3 and df4.
df3 has all data less irrelevant columns. This data needs another cleaning step to remove nans from desired columns.
df4 has all of the most stable and relevant data for deaths and has been cleared of nans
Final output is the df4 as Most_Stable_Data.csv
"""

In [7]:
import pandas as pd
file = pd.read_csv('covidtracking_dataframe.csv')

In [18]:
df = pd.DataFrame(file)
list(df.columns)
df.head()

,date,state,positive,probableCases,negative,pending,totalTestResultsSource,totalTestResults,hospitalizedCurrently,hospitalizedCumulative,...,posNeg,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
0,20210209,AK,53809.0,NaN,NaN,NaN,totalTestsViral,1561249.0,35.0,1223.0,...,53809,1,4,7338b19efe7cde0a4058731da6a8d03d9f2b1692,0,0,0,0,0,NaN
1,20210209,AL,474666.0,102040.0,1825185.0,NaN,totalTestsPeopleViral,2197811.0,1441.0,43499.0,...,2299851,56,116,86849c05f0870078849df188cb497d0998b35a82,0,0,0,0,0,NaN
2,20210209,AR,308848.0,63615.0,2297201.0,NaN,totalTestsViral,2542434.0,775.0,14174.0,...,2606049,42,75,c2fb235bdee84b1b318a2d72eec7696c18656f8f,0,0,0,0,0,NaN
3,20210209,AS,0.0,NaN,2140.0,NaN,totalTestsViral,2140.0,NaN,NaN,...,2140,0,0,f016b3c68f39b5aacf58a5dd90d22104c6571a5c,0,0,0,0,0,NaN
4,20210209,AZ,787268.0,52032.0,2834530.0,NaN,totalTestsViral,7037126.0,2744.0,54967.0,...,3621798,231,254,2a802c72b74f4fe38062321952e3f38c90e72d9e,0,0,0,0,0,NaN

In [78]:
df1 = df.drop(columns=['grade','score','totalTestResultsSource','positiveScore','negativeScore','negativeRegularScore','commercialScore','hash','dataQualityGrade','lastUpdateEt','checkTimeEt','dateChecked','dateModified','fips','probableCases'])
df1.head()

,date,state,positive,negative,pending,totalTestResults,hospitalizedCurrently,hospitalizedCumulative,inIcuCurrently,inIcuCumulative,...,positiveTestsPeopleAntigen,totalTestsAntigen,positiveTestsAntigen,positiveIncrease,negativeIncrease,total,totalTestResultsIncrease,posNeg,deathIncrease,hospitalizedIncrease
0,20210209,AK,53809.0,NaN,NaN,1561249.0,35.0,1223.0,NaN,NaN,...,NaN,NaN,NaN,115,0,53809,5717,53809,1,4
1,20210209,AL,474666.0,1825185.0,NaN,2197811.0,1441.0,43499.0,NaN,2583.0,...,NaN,NaN,NaN,1318,5105,2299851,5960,2299851,56,116
2,20210209,AR,308848.0,2297201.0,NaN,2542434.0,775.0,14174.0,276.0,NaN,...,74670.0,NaN,NaN,1475,6459,2606049,7279,2606049,42,75
3,20210209,AS,0.0,2140.0,NaN,2140.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0,0,2140,0,2140,0,0
4,20210209,AZ,787268.0,2834530.0,NaN,7037126.0,2744.0,54967.0,797.0,NaN,...,NaN,NaN,NaN,4381,14216,3621798,43464,3621798,231,254

In [79]:
nan = {}
for column in df1.columns:
    num_nan = df1[column].isna().sum()
    print(f'{column} # of NAN: {num_nan}')
    nan[column] = num_nan

date # of NAN: 0
state # of NAN: 0
positive # of NAN: 189
negative # of NAN: 3938
pending # of NAN: 17308
totalTestResults # of NAN: 102
hospitalizedCurrently # of NAN: 3357
hospitalizedCumulative # of NAN: 7414
inIcuCurrently # of NAN: 8875
inIcuCumulative # of NAN: 15837
onVentilatorCurrently # of NAN: 11027
onVentilatorCumulative # of NAN: 18128
recovered # of NAN: 5457
death # of NAN: 871
hospitalized # of NAN: 7414
totalTestsViral # of NAN: 6532
positiveTestsViral # of NAN: 11893
negativeTestsViral # of NAN: 14870
positiveCasesViral # of NAN: 5775
deathConfirmed # of NAN: 10330
deathProbable # of NAN: 12446
totalTestEncountersViral # of NAN: 14450
totalTestsPeopleViral # of NAN: 10791
totalTestsAntibody # of NAN: 14951
positiveTestsAntibody # of NAN: 15961
negativeTestsAntibody # of NAN: 17932
totalTestsPeopleAntibody # of NAN: 17604
positiveTestsPeopleAntibody # of NAN: 18327
negativeTestsPeopleAntibody # of NAN: 18423
totalTestsPeopleAntigen # of NAN: 18448
positiveTestsPeopleAntigen # of NAN: 18762
totalTestsAntigen # of NAN: 16449
positiveTestsAntigen # of NAN: 17431
positiveIncrease # of NAN: 0
negativeIncrease # of NAN: 0
total # of NAN: 0
totalTestResultsIncrease # of NAN: 0
posNeg # of NAN: 0
deathIncrease # of NAN: 0
hospitalizedIncrease # of NAN: 0

In [80]:
maxi = 0
for param in nan:
    if nan[param] > maxi:
        maxi = nan[param]
        print(f'Current Max: {nan[param]}')

Current Max: 189
Current Max: 3938
Current Max: 17308
Current Max: 18128
Current Max: 18327
Current Max: 18423
Current Max: 18448
Current Max: 18762

In [81]:
df2 = df1.drop(columns=['positiveTestsPeopleAntigen','totalTestsPeopleAntigen','totalTestsAntigen','pending'])
df2.sort_values(by=['date'])
df2

,date,state,positive,negative,totalTestResults,hospitalizedCurrently,hospitalizedCumulative,inIcuCurrently,inIcuCumulative,onVentilatorCurrently,...,positiveTestsPeopleAntibody,negativeTestsPeopleAntibody,positiveTestsAntigen,positiveIncrease,negativeIncrease,total,totalTestResultsIncrease,posNeg,deathIncrease,hospitalizedIncrease
0,20210209,AK,53809.0,NaN,1561249.0,35.0,1223.0,NaN,NaN,6.0,...,NaN,NaN,NaN,115,0,53809,5717,53809,1,4
1,20210209,AL,474666.0,1825185.0,2197811.0,1441.0,43499.0,NaN,2583.0,NaN,...,NaN,NaN,NaN,1318,5105,2299851,5960,2299851,56,116
2,20210209,AR,308848.0,2297201.0,2542434.0,775.0,14174.0,276.0,NaN,137.0,...,NaN,NaN,NaN,1475,6459,2606049,7279,2606049,42,75
3,20210209,AS,0.0,2140.0,2140.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0,0,2140,0,2140,0,0
4,20210209,AZ,787268.0,2834530.0,7037126.0,2744.0,54967.0,797.0,NaN,524.0,...,NaN,NaN,NaN,4381,14216,3621798,43464,3621798,231,254
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19312,20200117,WA,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0,0,0,0,0,0,0
19313,20200116,WA,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0,0,0,0,0,0,0
19314,20200115,WA,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0,0,0,0,0,0,0
19315,20200114,WA,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0,0,0,0,0,0,0
19316,20200113,WA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0,0,0,0,0,0,0

In [82]:
df3 = df2.dropna(subset=['death'])
df3

,date,state,positive,negative,totalTestResults,hospitalizedCurrently,hospitalizedCumulative,inIcuCurrently,inIcuCumulative,onVentilatorCurrently,...,positiveTestsPeopleAntibody,negativeTestsPeopleAntibody,positiveTestsAntigen,positiveIncrease,negativeIncrease,total,totalTestResultsIncrease,posNeg,deathIncrease,hospitalizedIncrease
0,20210209,AK,53809.0,NaN,1561249.0,35.0,1223.0,NaN,NaN,6.0,...,NaN,NaN,NaN,115,0,53809,5717,53809,1,4
1,20210209,AL,474666.0,1825185.0,2197811.0,1441.0,43499.0,NaN,2583.0,NaN,...,NaN,NaN,NaN,1318,5105,2299851,5960,2299851,56,116
2,20210209,AR,308848.0,2297201.0,2542434.0,775.0,14174.0,276.0,NaN,137.0,...,NaN,NaN,NaN,1475,6459,2606049,7279,2606049,42,75
3,20210209,AS,0.0,2140.0,2140.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0,0,2140,0,2140,0,0
4,20210209,AZ,787268.0,2834530.0,7037126.0,2744.0,54967.0,797.0,NaN,524.0,...,NaN,NaN,NaN,4381,14216,3621798,43464,3621798,231,254
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19221,20200214,NJ,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0,0,0,0,0,0,0
19226,20200213,NJ,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0,0,0,0,0,0,0
19231,20200212,NJ,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0,0,0,0,0,0,0
19236,20200211,NJ,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0,0,0,0,0,0,0
19241,20200210,NJ,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0,0,0,0,0,0,0

In [77]:
df4 = df3[['date','state','positive','negative','death','totalTestResults','hospitalized']]
df4.dropna(inplace=True)
df4.reset_index()
df4.to_csv('Most_Stable_Data.csv')

<ipython-input-77-9b175f82cf84>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df4.dropna(inplace=True)